<div layout="column" layout-align="center center" ng-cloak="ng-cloak">
    <header>
        <h1>Create an Account</h1>
    </header>
    <md-content class="md-whiteframe-z1" layout-padding="layout-padding">
        <form name="signupForm" ng-submit="signup()">
            <div layout="column">
                <div layout="row">
                    <md-input-container class="md-icon-float md-block"><label>First name</label>
                        <md-icon md-font-icon="icon-vcard"></md-icon><input ng-model="user.firstName" name="firstName" required="required" />
                        <div ng-messages="signupForm.firstName.$error">
                            <div ng-message="required">First name is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block"><label>Last name</label><input ng-model="user.lastName" name="lastName" required="required" />
                        <div ng-messages="signupForm.lastName.$error">
                            <div ng-message="required">Last name is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-icon-float md-block"><label>Username</label>
                    <md-icon md-font-icon="icon-user"></md-icon><input ng-model="user.username" name="username" required="required" />
                    <div ng-messages="signupForm.username.$error">
                        <div ng-message="required">Username is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block"><label>Email</label>
                    <md-icon md-font-icon="icon-mail"></md-icon><input ng-model="user.email" name="email" ng-pattern="pattern" required="required" />
                    <div ng-messages="signupForm.email.$error">
                        <div ng-message-exp="['required', 'pattern']">Email is required and must look like an e-mail address.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-icon-float md-block"><label>Password</label>
                        <md-icon md-font-icon="icon-lock"></md-icon><input type="password" name="password" ng-model="user.password" required="required" />
                        <div ng-messages="signupForm.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block"><label>Confirm Password</label><input type="password" name="confirmPassword" ng-model="user.confirmPassword" required="required" compared-to="user.password" />
                        <div ng-messages="signupForm.confirmPassword.$error">
                            <div ng-message="required">Confirmation password is required.</div>
                            <div ng-message="unique">Password must match.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary" type="submit" ng-disabled="signupForm.$invalid">Sign Up</md-button>
            </div>
        </form>
    </md-content>
    <p>Go back to <a href="/login">Login</a></p>
</div>