<div layout="column" layout-align="center center" ng-cloak="ng-cloak">
    <header layout="column" layout-align="center center">
        <h1>Payroll System</h1>
        <h3>By Windyl Khu</h3>
    </header>
    <md-content class="md-whiteframe-z1" layout-padding="layout-padding">
        <form ng-submit="login()">
            <div layout="column">
                <md-input-container class="md-block"><label>Username or email address</label><input ng-model="user.username" /></md-input-container>
                <md-input-container class="md-block"><label>Password</label><input type="password" ng-model="user.password" /></md-input-container>
                <md-button class="md-raised md-primary" type="submit">Log In</md-button>
            </div>
        </form>
    </md-content>
    <p> Dont have an account? <a href="/signup">Signup</a></p>
    <footer layout="column" layout-align="center center">
    </footer>
</div>